*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
header{
    width: 100%;
    justify-content: center;
    display: flex;
    background-color: #2a3da5;
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.575);
    padding: 1%;
}
.center{
    max-width: 1480px;
    width: 100%;
    display: flex;

}
.logu{
    width: 80%;
}
.menu{
    width: 20%;
    justify-content: space-evenly;
    display: flex;
    font-style: none;
    text-decoration: none;
}
.menu  li {
    font-style: none;
    text-decoration: none;
    list-style: none;
}
.menu  li a {
    font-style: none;
    text-decoration: none;
    list-style: none;
    color: white;
    font-weight: bold;
    font-size: 24px;
}
.grade{
    margin: 0 auto;
    text-align: center;
    padding: 2%;
    max-width: 1480px;
    width: 100%;
}
.container{
    margin: 2% 0;
}
.products-container{
    justify-content: space-between;
    display: flex;

}
.grade-product{
    width: 20%;
    height: 300px;
    text-align: center;
    border: 5px solid rgba(73, 73, 73, 0.466);
    border-radius: 10px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.356);
}
.product-title{
    font-size: 20px;
}
.product-price{
    display: block;
    margin: 4% 0;
}
.grade-product:hover{
    opacity: 0.9;
}
.button-hover-background{
    padding: 2%;
    color: white;
    background-color: blue;
    font-weight: bolder;
    border-radius: 5px;
    box-shadow: 10px 10px 100px rgba(0, 0, 0, 0.562);

}
.button-hover-background:hover{
    cursor: pointer;
    background-color: rgb(24, 24, 255)
}
.purchase-button{
    padding: 1%;
    font-weight: bold;
    color: white;
    background-color: blue;
    border-radius: 10px;
}
.purchase-button:hover{
    cursor: pointer;
    background-color: rgb(24, 24, 255)
}
tr{
    margin: 5%;
}
.product-identification{
    display: block;
}
.product-qtd-input{
    width: 25%;
    padding: 2%;
    border-radius: 5px;
}
.remove-product-button{
    color: white;
    background-color: red;
    padding: 2%;
    font-weight: bold;
    border: 1px solid black;
    border-radius: 5px;
    cursor: pointer;
}
.cart-total-container{
    padding-top: 10%;
    font-size: 24px;
    font-weight: bold;
    text-align: left;
}